@charset 'utf-8';
//To avoid any potential issue with character encoding
$base-color: #37353a;
body{
	background-color:$base-color;
}
.container{
	display:flex;
	flex-wrap: wrap;
	width:500px;
	height:500px;
	margin-top:150px;
	
}
.carte {

	margin: 0 auto;
	
	margin-left:5px;
	width: 92px;
	height: 110px;	
	position: relative;
	font-size: .8em;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	.front {
		position: absolute;
		top: 0;
		z-index: 900;
		width: inherit;
		height: inherit;
		text-align: center;
		-webkit-transform: rotateX(0deg) rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-transform: rotateX(0deg) rotateY(0deg);
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	&.flip .front {
		z-index: 900;
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
	}
	.back {
		position: absolute;
		top: 0;
		z-index: 800;
		width: inherit;
		height: inherit;
		-webkit-transform: rotateY(-180deg);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-transform: rotateY(-180deg);
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	&.flip .back {
		z-index: 1000;
		-webkit-transform: rotateX(0deg) rotateY(0deg);
		-moz-transform: rotateX(0deg) rotateY(0deg);
	}

}



